
@{
    ViewData["Title"] = "Index";
}

<h2>Inscripciones</h2>

<div class="form-group">
    <div class="row">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <input type="text" name="Estudiante" id="Estudiante" placeholder="Estudiante" class="form-control" />
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">Seleccionar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <tbody>
                <tr>
                    <td>Curso:</td>
                    <td>
                        <input type="text" name="Estudiante" id="Estudiante" placeholder="Estudiante" class="form-control" />
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">Seleccionar</button>
                    </td>
                    <td>Grado:</td>
                    <td>
                        <input type="number" name="name" value="" />
                    </td>
                    <td>Costo:</td>
                    <td>
                        <input id="CostoEstudiante" name="CostoEstudiante" placeholder="Costo" class="form-control" />
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th>Curso</th>
                    <th>Categoria</th>
                    <th>Grado</th>
                    <th>Pago</th>
                    <th>Fecha</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody id="resultSearch"></tbody>
        </table>


    </div>
</div>