@{
    ViewData["Reportes"] = "Reportes";
 }

<h2>Sistema de reportes</h2>

<div class="content">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Cursos</h3>
                </div>
                <div class="panel-body">
                    <a href="#" data-toggle="modal" data-target="#modalReportes" onclick="reportesCursos()" class="thumbnail">
                        <img src="~/images/baseline-gavel-24px.svg" alt="..." />
                    </a>

                </div>
            </div>

        </div>
    </div>
</div>
